{% extends '_base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">Dashboard  |   You are logged in! {{user.username}}</div>
                <br>
                <br>
                <div class="panel-body">
                  <div class="list-group">
                    <a href="http://127.0.0.1:8000/request" class="list-group-item">Request for outing</a>
                    <a href="http://127.0.0.1:8000/checkstatus" class="list-group-item">Check your request status</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

