{% extends '_base.html' %}
{% load staticfiles %}
{% block content %}


  <h3>Partner Requests from Users:</h3>
  <ul>


    <table class="table">

      <thead>
        <tr>
        <th>User</th>
        <th>Assigned_Date</th>
        <th>Return_Date</th>
        <th>Place</th>
        <th>Purpose</th>
        <th>&nbsp &nbsp &nbsp Status</th>
        </tr>
      </thead>
      <tbody>


          {% for proposal in proposals%}

            <tr>
              <td>{{proposal.from_user}}</td>
              <td>{{proposal.when}}</td>
              <td>{{proposal.return_date}}</td>
              <td>{{proposal.place}}</td>
              <td>{{proposal.purpose}}</td>

                <form action="{% url 'accept_req' proposal.id %}" method="POST">
                    {% csrf_token %}
                    <td><input class="btn btn-success pull-right" type="submit" value="accept"></td>
                </form>
                <form action="{% url 'reject_req' proposal.id %}" method="POST">
                    {% csrf_token %}
                     <td><input class="btn btn-success pull-right" type="submit" value="Reject"></td>
                </form>
            </tr>

          {% endfor %}
     </tbody>
 </table>

  <a href="{% url 'home' %}" class="btn btn-info">Back to Dashboard.</a>







{% endblock %}
